* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

a {
    text-decoration: none;
    color: black;
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 13px;
    display: flex;
    .left {
        width: auto;
        height: 100%;
        white-space: nowrap;
        display: flex;
        a {
            display: block;
            margin-left: 35px;
        }
    }
    .right {
        width: 100%;
        text-align: right;
        .medium {
            display: none;
            width: 100%;
            height: 100%;
            text-align: right;
            font-size: 20px;
            white-space: nowrap;
            i {
                margin-right: 20px;
            }

            .fa-bag-shopping {
                margin-right: 50px;
            }
        }
        .large {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
            text-align: right;

        }
        a {
            margin-right: 50px;
            display: block;
        }
        .bag {
            display: flex;
            justify-content: center;
            a {
                margin: 0;
                width: min-content;
            }

            width: 120px;
            text-align: center;
            height: 100%;
            border-left: 1px solid black;
        }
    }

    .logo {
        position: absolute;
        top: 100px;
        left: 50px;
        width: 40px;
        font-weight: bold;
        p {
            font-size: 25px;
            line-height: 25px;
            text-transform: lowercase;
        }
    }
}

.tab {
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 40px;
        width: 0;
        border: 0;
        transition: all 0.5s;
    }

    &:hover {
        &::before {
            border: 1px solid black;
            width: 100%;
        }
    }
}

@media (max-width: 1300px){
    header {
        .right {
            .large {
                display: none;
            }
            .medium {
                display: block;
            }
        }
    } 
}

@media (max-width: 1100px) {
    header {
        background-color: transparent;
        border: 0;
        .logo {
            top: 20px;
            left: 10px;
        }
        .left {
            .tab {
                display: none;
            }
        }
    }
}