* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

@font-face {
    font-family: "brandon-grotesque";
    src: url("fonts/brandon-grotesque-black-58a8a3e824392.otf") format("opentype"),
         url("fonts/brandon-grotesque-bold-italic-58a8a48221563.otf") format("opentype"),
         url("fonts/brandon-grotesque-light-58a8a4b38001d.otf") format("opentype"),
         url("fonts/brandon-grotesque-light-italic-58a8a4ccb88be.otf") format("opentype"),
         url("fonts/brandon-grotesque-medium-italic-58a8a3c40866a.otf") format("opentype"),
         url("fonts/brandon-grotesque-regular-italic-58a8a456c4724.otf") format("opentype"),
         url("fonts/brandon-grotesque-thin-italic-58a8a3a8861fe.otf") format("opentype");
}

header {
    width: 100%;
    height: 125px;
    .top {
        display: flex;
        font-family: "brandon-grotesque";
        flex-wrap: wrap;
        width: 100%;
        height: 40px;
        background-color: black;
        text-align: center;
        font-size: 16px;
        color: white;
        justify-content: center;
        align-items: center; 
        a {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-right: 20px;
            padding-left: 20px;
            width:fit-content;
            display: block;
        }
    }

    .bottom {
        display: flex;
        width: 100%;
        height: 85px;
        justify-content: center;
        align-items: center;
        div {
            width: 1300px;
            display: flex;
            align-items: center;
            .right {
                display: flex;
                justify-content: end;
            }
            .icon__bag {
                margin-left: 20px;
            }
        }
    }
}

.intro {
    width: 100%;
    height: 880px;
    position: relative;
    .img {
        width: 100%;
        height: 100%;
        background-image: url(img/bottles.png);
        background-size: cover;
        background-position: center;
        filter: brightness(70%);
    }
    .bglogo {
        position: absolute;
        width: 200px;
        left: 50%;
        translate: (-50%);
        top: 160px;
    }

}

@media (max-width: 1300px) {

    header .bottom div {
        width: 100%; 
    }
}


@media (max-width: 600px) {
    .intro .img {
        margin-top: 100px;
        display: block;
    }
    header .top {
        height: auto;
    }

    header .bottom {
        height: max-content; 
        width: 100%;
    }

    header .bottom div {
        width: 100%;
        flex-direction: column-reverse;
    }
    header .bottom div .right {
        width: 100% !important;
        display: flex;
        flex-direction:unset;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-top: 20px;
        .icon__bag {
            align-self: flex-start;
            margin-right: 20px;
        }
        .icon__login {
            align-self: flex-end;
            margin-left: 20px;
        }
    }
}
